<!--  Para mostrar el articulo se utiliza @articulo.valor_de_la_tabla
	  que ya fue cargado en el controlador en la funcion show.
-->

<h1><%= @articulo.title %></h1>	

<p><%= @articulo.body %></p>	

