<div class="panel panel-default">
	<div class="panel-body">

		<h1 class="text-center">Bienvenido al Blog JsFramework</h1>
		<p>Find me in app/views/welcome/index.html.erb</p>
		
	</div>
</div>
	<!-- etiquetas para poder ejecutar ruby dentro de la pagina-->
	<!-- la unica defirencia es que con el = muestra los resultados en la pagina, la otra no muestra nada-->	

	<!-- para añadir javascripts o css solo se ponen en la carpeta assets y va para stylesheet o javascripts. -->
		
	