<div class="panel panel-default">
	<div class="panel-body">

		<h1 class="text-center">Bienvenido al Blog JsFramework</h1>
		<p>Find me in app/views/welcome/index.html.erb</p>

		<p>El scaffold genera el modelo, controlador y las vistas de todo un modulo con un solo comando, Ejemplo:  rails generate scaffold NombreDelModelo campoTabla:tipo campoN:tipoN ...</p>

		<p>El scaffold de comentarios es: rails generate scaffold Comment user:references article:references body:text</p>

		<p>luego de generados los archivos hay que correr rake:db migrate para que se creen los campos en la BD.</p>
		
	</div>
</div>
	<!-- etiquetas para poder ejecutar ruby dentro de la pagina-->
	<!-- la unica defirencia es que con el = muestra los resultados en la pagina, la otra no muestra nada-->	

	<!-- para añadir javascripts o css solo se ponen en la carpeta assets y va para stylesheet o javascripts. -->
		
	